.framevideosearch {
    width: 100%;
}

.framevideosearch .title {
    font-size: large;
    font-weight: bold;
    padding: 0px 0px 0px 10px;
}

.framevideosearch .upload {
    margin-top: -20px;
}

.framevideosearch .noresult {
    padding: 20px;
    font-size: large;
    color: gray;
}

.framevideosearch .thumbnail {
    display: inline-block;
    margin: 12px;
    width: 31%;
    vertical-align: top;
    min-height: 240px;
}

.framevideosearch .thumbnail .img {
    display: block;
    padding: 5px 0px 0px 0px;
    max-width: 100%;
    min-height: 150px;
    cursor: pointer;
    border-radius: 30px;
    max-height: 230px;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
}

.framevideosearch .thumbnail .img:hover {
    border-radius: 40px;
}

.framevideosearch .thumbnail .video {
    display: block;
    padding: 0px;
    width: 100%;
    height: 150px;
    background-color: gray;
    cursor: pointer;

}

.framevideosearch .thumbnail .play {
    display: block;
    margin: -35% 0px 20% 40%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.framevideosearch .thumbnail .play svg {
    fill: silver;
}

.framevideosearch .thumbnail .play svg:hover {
    stroke: white;
}

.framevideosearch .thumbnail .play svg:hover path {
    stroke-width: 1px;
}



.framevideosearch .thumbnail .title {
    display: block;
    width: 100%;
    max-height: 70px;
    padding: 10px 0px 0px 10px;
    font-size: medium;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.framevideosearch .thumbnail .status {
    display: block;
    font-size: small;
    padding-top: 5px;
    padding: 0px 0px 0px 10px;
}

.framevideosearch .thumbnail .action {
    display: block;
    float: right;
    margin: -50px 10px 0px 0px;
    cursor: pointer;
}

.framevideosearch .thumbnail .timestamp {
    font-size: x-small;
    color: gray;
    padding: 0px 0px 0px 10px;
}

.framevideosearch .thumbnail .violation {
    padding-top: 5px;
}

.framevideosearch .thumbnail .hide {
    display: none;
    border: solid 1px red;
}

.framevideosearch .thumbnail .frames {
    display: block;
    top: 10px;
    left: 10px;
    width: 910px;
    box-shadow: 5px 5px 5px lightgray;
    background-color: white;
    border-radius: 10px;
}

.framevideosearch .thumbnail .badge {
    display: block;
    float: right;
}

.framevideosearch .thumbnail .frames .close {
    float: right;
    margin-bottom: 20px;
}

.framevideosearch .thumbnail .frames .box {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    vertical-align: top;
    width: 210px;
    min-height: 100%;
    color: gray;
    border: lightgray 1px solid;
}

.framevideosearch .thumbnail .frames .box .key {
    font-weight: bold;
    display: inline;
    font-size: medium;
}

.framevideosearch .thumbnail .frames .box .item {
    display: block;
    padding-bottom: 5px;
    word-wrap: break-word;
    font-size: small;
}

.framevideosearch .thumbnail .frames .box img {
    width: 100%;
}

.framevideosearch .showmore {
    display: block;
    padding-left: 40%;
    margin: 30px;
}

.framevideosearch .searchinput {
    display: inline-block;
    width: 100%;
}

.framevideosearch .searchinput .clean {
    display: inline-block;
    width: 10px;
    margin-left: -30px;
    margin-right: 30px;
}

.framevideosearch .searchinput .input-text,
.framevideosearch .searchinput .input-text:focus {
    display: inline-block;
    width: 70%;
    border: 0px;
    outline: none;
    padding: 0px 0px 5px 5px;
    border-bottom: 4px rgb(1, 79, 195) solid;
    margin: 0px 5px 0px 10px;
}

.framevideosearch .searchinput .input-source {
    display: inline-block;
    margin-right: -18px;
    margin-top: 2px;
}

.framevideosearch .searchinput .search {
    display: inline-block;
    padding: 10px 10px 20px 10px;
}

.framevideosearch .searchinput .upload {}

.framevideosearch .searchinput .search .clear-icon {
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}

.framevideosearch .searchinput .search-by-image {
    display: inline-block;
    border-radius: 10px;
    border: 1px lightgray solid;
    padding: 10px;
    margin-top: 10px;
    width: 550px;
}

.framevideosearch .searchinput .search-by-text {
    display: inline-block;
    border-radius: 10px;
    border: 1px lightgray solid;
    padding: 10px;
    margin-top: 10px;
    width: 500px;
}

.framevideosearch .searchinput .search-by-image .title,
.framevideosearch .searchinput .search-by-text .title {
    font-size: medium;
    font-weight: bold;
    padding: 10px;
}

.framevideosearch .searchinput .search-by-text .desc,
.framevideosearch .searchinput .search-by-image .desc {
    font-size: small;
    padding: 10px;
}

.framevideosearch .searchinput .search-by-image .input {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
}

.framevideosearch .searchinput .search-by-image .image-container {
    display: block;
    float: right;
}

.framevideosearch .searchinput .search-by-image .uploaded-image {
    max-width: 250px;
    max-height: 250px;
    display: block;
    margin-top: -70px;
}

.framevideosearch .searchinput .search-by-image .image-container svg {
    display: block;
    float: right;
    vertical-align: top;
    margin-top: -100px;
    cursor: pointer;
}

.framevideosearch .searchinput .search-by-image .score-threshold,
.framevideosearch .searchinput .search-by-text .score-threshold {
    width: 200px;
    margin-left: 10px;
}

.videomdoal {
    color: gray;
}

.videomdoal .videom {
    width: 100%;
}

.videomdoal .timestamp {
    font-size: large;
}

.videomdoal .desc {}

.shotdoc {
    width: 100%;
}

.shotdoc .center img {
    max-width: 100%;
}