.promptconfig {
    font: optional;
}
.promptconfig .warnings {
    display: block;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(249, 116, 27);
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.promptconfig .prompt {
}

.promptconfig .prompt .label {
    font-weight: bold;
    padding: 10px 0px 3px 0px;
    display: inline-block;
}

.promptconfig .prompt .desc {
    color: gray;
    display: inline-block;
    padding-left: 10px;
}

.promptconfig .prompt .action {
    display: block;
    float: right;
    padding-bottom: 10px;
}
