.clipvideodetail {
    vertical-align: top;
}

.clipvideodetail .close {
    position: absolute;
    right: 5px;
    top: 5px;
    display: block;
    float: right;
    font-weight: bold;
    cursor: pointer;
}

.clipvideodetail .video {
    display: inline-block;
    width: 48%;
    background-color: rgb(237, 237, 237);
    border-radius: 20px;
    padding: 20px;
}
.clipvideodetail .video .taskid {
   font-size: small;
}
.clipvideodetail .video .title {
    font-size: large;
    padding-top: 10px;
}

.clipvideodetail .video .timestamp {
    font-size: small;
}

.clipvideodetail .video .processing {
    font-size: small;
}
.clipvideodetail .video .request {
    display: block;
    float: right;
    margin-top: -20px;
}
.clipvideodetail .video video {
    max-height: 500px;
    width: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.clipvideodetail .detail {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    height: 100%;
    margin-left: 10px;
    padding: 10px;
}
.clipvideodetail .smartsample {
    margin: 40px 0px 10px 0px;
}
.clipvideodetail .close {
    display: block;
    border:solid 2px gray;
    border-radius: 10px;
    padding: 5px 5px 0px 5px;
    float: left;
}