.agentmain {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  position: relative;
}

.agentmain .chatarea {
  width: 100%;
  height: calc(100vh - 220px);
  flex-direction: column;
  overflow-y: auto;
  padding-bottom: 20px;
  scroll-behavior: smooth;
}

.agentmain .chatarea .citation {
  display: flex;
  justify-content: center;
  /* centers horizontally */
  align-items: center;
  /* centers vertically */
  cursor: pointer;
}

.agentmain .chatarea .citation .distance {
  font-size: small;
  color: gray;
  display: inline;
  padding-left: 10px;
}

.agentmain .chatarea .citation .source {
  display: inline;
  float: right;
  padding-right: 15px;
}

.agentmain .chatarea .citation .title {
  font-weight: bold;
  margin-top: 10px;
}

.agentmain .chatarea .citation .time {
  font-size: small;
  color: gray;
  padding-left: 10px;
}

.agentmain .chatarea .citation .citimg {
  width: 90%;
  border-radius: 10px;
  margin-top: 10px;
}

.agentmain .chatarea .citation .cittxt {
  width: 90%;
  border-radius: 10px;
  margin-top: 10px;
  border: solid 1px silver;
  background-color: white;
  padding: 10px;
}

.agentmain .chatarea .citation {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}

.agentmain .chatarea .citation video {
  width: 100%;
  border-radius: 20px;
  padding: 10px;
}


.agentmain .chatarea .msguser {
  display: block;
  border-radius: 10px;
  background-color: rgb(240, 243, 250);
  margin: 20px 20px 20px auto;
  padding: 20px;
  color: rgb(68, 115, 233);
  max-width: 50%;
  margin-left: 50%;
}

.agentmain .chatarea .msgassistant {
  display: block;
  width: 100%;
  padding: 10px;
  color: black;
}

.agentmain .chatarea .msgassistant img {
  width: 150px;
}

.agentmain .chatbottom {
  padding-top: 20px;
  display: block;
  padding: 10px;
  color: black;
  width: 100%;
}

.agentmain .input {
  width: 60%;
  height: 100px;
  border: solid 1px rgb(0, 74, 200);
  border-radius: 30px;
  margin: 20px auto 30px auto;
  box-shadow: 0px 0px 4px rgb(0, 74, 200);
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  background-color: white;
}

.agentmain .submit {
  display: block;
  float: right;
  margin-top: -65px;
  margin-right: 10px;
}

.agentmain .input .input-text,
.agentmain .input .input-text:focus {
  display: inline-block;
  width: 95%;
  height: 80px;
  border: 0px;
  outline: none;
  vertical-align: top;
  margin: 10px;
}

.agentmain .samples {
  position: fixed;
  bottom: 180px;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}

.agentmain .samples .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.agentmain .samples .container .item {
  border-radius: 15px;
  border: solid 1px rgb(68, 115, 233);
  color: rgb(68, 115, 233);
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: white;
  text-align: center;
}

.agentmain .samples .container .item:hover {
  background-color: rgb(240, 243, 250);
}