.tlabsvideosearch {
    width: 100%;
}
.tlabsvideosearch .title {
    font-size: large;
    font-weight: bold;
    padding: 0px 0px 0px 10px;
}
.tlabsvideosearch .noresult {
    padding: 20px;
    font-size: large;
    color: gray;
}

.tlabsvideosearch .cleanup {
    padding-top: 5px;
}
.tlabsvideosearch .thumb {
    display: inline-block;
    margin: 12px;
    width: 31%;
    vertical-align: top;
    min-height: 240px;
    cursor: pointer;
}

.tlabsvideosearch .thumb video{
    border-radius: 20px;
    cursor: pointer;
}
.tlabsvideosearch .thumb video:hover{
    border-radius: 30px;
}
.tlabsvideosearch .thumb .img {
    display: block;
    padding: 5px 0px 0px 0px;
    max-width: 100%;
    min-height: 150px;
    cursor: pointer;
    border-radius: 30px;
    max-height: 230px;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
}
.tlabsvideosearch .thumb .img:hover {
    cursor: pointer;
    border-radius: 30px;
}

.tlabsvideosearch .thumb .video {
    display: block;
    padding: 0px;
    width: 100%;
    height: 150px;
    background-color: gray;
    cursor: pointer;
}

.tlabsvideosearch .thumb .title {
    display: block;
    width: 100%;
    max-height: 70px;
    padding: 10px 0px 0px 15px;
    font-size: medium;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.tlabsvideosearch .thumb .status {
    display: block;
    font-size: small;
    padding: 5px 0px 0px 15px;
}

.tlabsvideosearch .thumb .action {
    display: block;
    float: right;
    cursor: pointer;
    margin: -40px 10px 0px 0px;
}

.tlabsvideosearch .thumb .timestamp {
    font-size: x-small;
    color:gray;
    padding: 5px 0px 0px 15px;
}

.tlabsvideosearch .thumb .duration {
    float: right;
    margin-right: 10px;
}
.tlabsvideosearch .thumb .distance {
    display: block;
    color: gray;
    font-size: small;
    padding-left: 10px;
}
.tlabsvideosearch .thumb .hide {
    display: none;
}
.tlabsvideosearch .showmore {
    display: block;
    padding-left: 40%;
    margin: 30px;
}
.tlabsvideosearch .searchinput {
    display: inline-block;
    width: 100%;
    height: 120px;
    border: solid 1px rgb(0, 74, 200);
    border-radius: 30px;
    margin: 20px 0px 30px 0px;
    padding: 2px 10px 10px 10px;
    box-shadow: 0px 0px 4px rgb(0, 74, 200);
}

.tlabsvideosearch .searchinput .search {
    display: block;
    float: right;
    margin-top: 20px;
}
.tlabsvideosearch .searchinput .upload {
    margin: 20px 0px 10px 20px;
    width: 300px;
}

.tlabsvideosearch .searchinput .input {
    display: block;
    height: 40px;
    margin: 10px 0px 0px 15px;
    vertical-align: top;
}

.tlabsvideosearch .searchinput .clear {
    display: block;
    float: right;
    right: 0px;
    font-size: x-large;
    margin: -10px 60px 0px 0px;
}
.tlabsvideosearch .searchinput .input .previewupload {
    width: 200px;
    height: 50px;
}

.tlabsvideosearch .searchinput .input .previewupload img{
    max-width: 150px;
    max-height: 50px;
    border: solid 2px gray;
    border-radius: 10px;
}

.tlabsvideosearch .searchinput .input .input-text, .tlabsvideosearch .searchinput .input .input-text:focus {
    display: inline-block;
    width: 90%;
    height: 60px;
    border: 0px;
    outline: none;
    vertical-align: top;
    margin: 5px;
}

.tlabsvideosearch .searchinput .search-by-image{
    display: inline-block;
    border-radius: 10px;
    border: 1px lightgray solid;
    padding: 10px;
    margin-top: 10px;
    width: 550px;
}
.tlabsvideosearch .searchinput .search-by-text{
    display: inline-block;
    border-radius: 10px;
    border: 1px lightgray solid;
    padding: 10px;
    margin-top: 10px;
    width: 500px;
}

.tlabsvideosearch .searchinput .search-by-image .title, .tlabsvideosearch .searchinput .search-by-text .title{
    font-size: medium;
    font-weight: bold;
    padding: 10px;
}

.tlabsvideosearch .searchinput .search-by-text .desc, .tlabsvideosearch .searchinput .search-by-image .desc{
    font-size: small;
    padding:10px;
}

.tlabsvideosearch .searchinput .search-by-image .input{
    display: inline-block;
    padding: 10px;
    vertical-align: top;
}

.tlabsvideosearch .searchinput .search-by-image .image-container {
    display: block;
    float: right;
}

.tlabsvideosearch .searchinput .search-by-image .uploaded-image {
    max-width: 250px;
    max-height: 250px;
    display: block;
    margin-top: -70px;
}

.tlabsvideosearch .searchinput .search-by-image .image-container svg{
    display: block;
    float: right;
    vertical-align: top;
    margin-top: -100px;
    cursor: pointer;
}

.tlabsvideosearch .searchinput .search-by-image .score-threshold, .tlabsvideosearch .searchinput .search-by-text .score-threshold{
    width: 200px;
    margin-left: 10px;
}
.videomdoal {
    color: gray;
}
.videomdoal .videom {
    width: 100%;
}
.videomdoal .timestamp {
    font-size: large;
}

.videomdoal .desc {}